a
{
    padding-top: 20px;
}
.travel_mainDiv
{
    border: 1 px solid lightgray;
}
.travel_mainDiv img
{
    width: 100%;
}
.travel_mainDiv h5, .travel_mainDiv p
{
    margin: 20px;
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: orange;
}
#contact iframe
{
    width: 100%;
}